.posi{
	width:998px;
	height:35px;
	border:1px solid #E1E1E1;
	margin: 10px auto;
	background: #F5F5F5;
}
.li_home{
	width:50px;
	height:35px;
	float: left;
	text-align: right;
	line-height:35px;
	background: url(/image/qiyun/icon2.png) 10px -598px;
	/*background: url('/image/qiyun/icon2.png') 10px -598px;*/
}
.li_nxt{
	width:auto;
	height:35px;
	padding:0 10px;
	line-height:35px;
	float: left;
}
/*面包屑导航*/
.crumbs{
	margin: 0 auto;
	width:1000px;
	height:32px;
	background: #F5F5F5;
	border:1px solid #CBCBCB;
}
.crumbs_ul{
	float: left;
}
.crumbs_ul_li_img1{
	position: relative;
	top:-2px;
	left:-5px;
}
.crumbs_div1{
	float: left;
	width:80px;
	height:33px;
}
.crumbs_div2{
	width:100px;
	height:33px;
	float: left;
}
.crumbs_div3{
	width:100px;
	height:33px;
	float:left;
}
.crumbs_div4{
	width:100px;
	height:33px;
	float: left;
}

/*面包屑导航链接字体*/
.crumbs_span2{
	position: relative;
	top:-8px;
	left:-10px;
}
.crumbs_span3{
	position: relative;
	top:-8px;
	left:-5px;
}
.crumbs_span4{
	position: relative;
	top:9px;
	left:-15px;
}

li{
	list-style: none;
}






/*主图div*/
.zhutu{
	margin: 0 auto;
	width:1000px;
	height:261px;
}
/*发布资源*/
.main_div1{
	margin: 0 auto;
	width:1000px;
	height:36px;
	border-bottom: 1px solid #929292;
}
.main_div1_span{
	float: left;
	font-family: "SimHei";
	font-size:24px;
}

/*form表单部分*/
.form_div1{
	text-align: left ;
	margin: 0 auto;
	width:1000px;
	min-height:525px;
	/*background: pink;*/
}
/*main*/
.form_main{
	width:1000px;
	height:221px;
	/*background: #ccc;*/
}
/*添加图片框*/
/*.form_div1_add{*/
	/*margin: 0 auto;*/
	/*width:256px;*/
	/*height:220px;*/
	/*border: 1px solid #A6A6A6;*/
/*}*/
/*.form_div1_img1{*/
	/*position: relative;*/
	/*top:90px;*/
/*}*/
/*取消*/
.form_div1_fabu{
	width:1000px;
	height:30px;
	margin-top: 150px;
	/*background: #ccc;*/
}
#btnSub{
	width:106px;
	height:32px;
	border:0px;
	cursor: pointer;
	color:transparent;
	background: url('/image/qiyun/research/publishPic/2.png') no-repeat;
}
#btnRes{
	margin-left: 10px;
	width:106px;
	height:32px;
	border:0px;
	cursor: pointer;
	color:transparent;
	background: url('/image/qiyun/research/publishPic/3.png') no-repeat;
}
.form_file{
	margin-left: 440px;
	width:130px;
	height:33px;
}
.form_div1_img2{
	margin-top: 35px;
}
#uploadImage{
	position: absolute;
	z-index:2;
	margin-top: 35px;
	width:130px;
	height:33px;
	opacity: 0;
	/*border: 1px solid red;*/
	cursor: pointer;
}