.posi{
	width:998px;
	height:35px;
	border:1px solid #E1E1E1;
	margin: 10px auto;
	background: #F5F5F5;
}
.li_home{
	width:50px;
	height:35px;
	float: left;
	text-align: right;
	line-height:35px;
	background: url(/image/qiyun/icon2.png) 10px -598px;
	/*background: url('/image/qiyun/icon2.png') 10px -598px;*/
}
.li_nxt{
	width:auto;
	height:35px;
	padding:0 10px;
	line-height:35px;
	float: left;
}
/*面包屑导航*/
.crumbs{
	margin: 0 auto;
	width:1000px;
	height:32px;
	background: #F5F5F5;
	border:1px solid #CBCBCB;
}
.crumbs_ul{
	float: left;
}
.crumbs_ul_li_img1{
	position: relative;
	top:-2px;
	left:-5px;
}
.crumbs_div1{
	float: left;
	width:80px;
	height:33px;
}
.crumbs_div2{
	width:100px;
	height:33px;
	float: left;
}
.crumbs_div3{
	width:100px;
	height:33px;
	float:left;
}
.crumbs_div4{
	width:100px;
	height:33px;
	float: left;
}

/*面包屑导航链接字体*/
.crumbs_span2{
	position: relative;
	top:-10px;
	left:-10px;
}
.crumbs_span3{
	position: relative;
	top:-10px;
	left:-5px;
}
.crumbs_span4{
	position: relative;
	top:6px;
	left:-15px;
}

li{
	list-style: none;
}







/*主图div*/
.zhutu{
	margin: 0 auto;
	width:1000px;
	height:261px;
}
/*发布资源*/
.main_div1{
	margin: 0 auto;
	width:1000px;
	height:36px;
	border-bottom: 1px solid #929292;
}
.main_div1_span{
	float: left;
	font-family: "SimHei";
	font-size:24px;
}
.main_div1_span1{
	float: left;
	margin-left: 30px;
	margin-top:4px;
	font-family: "SimHei";
	font-size:20px;
}
.main_div1_span2{
	float: left;
	margin-top: 4px;
	margin-left:6px;
	font-size:20px;
	font-family: "SimHei";
	color: #7C7C7C;
}
/*form表单部分*/
.form_div1{
	margin: 0 auto;
	width:1000px;
	/*min-height:700px;*/
	/*background: pink;*/
}
.form_div1_wz{
	width:1000px;
	height:33px;
	/*background: yellow;*/
}
.form_div1_wz_span{
	float: left;
	margin-top:7px;
	font-size:18px;
	font-family: "SimHei";
}
.form_div1_wz_input{
	float: left;
	margin-left:25px;
	width:613px;
	height:33px;
}
/*文章内容*/
.form_div_content{
	width:1000px;
	min-height:155px;
	/*background: #ccc;*/
}
.form_div_content_span{
	float: left;
	font-family: "SimHei";
	font-size: 18px;
}
#container{
	float: left;
	margin-left:25px;
	width:820px;
}

/*取消*/
.form_div1_fabu{
	width:1000px;
	height:30px;
	margin-top: 50px;
	/*background: #ccc;*/
}
#btnSub{
	float: left;
	margin-left: 389px;
	display: block;
	color: #fff;
	width:106px;
	height:32px;
	border:0px;
	line-height: 29px;
	font-size: 17px;
	cursor: pointer;
	background-color: #41a6ee;
}
#btnRes{
	float: left;
	margin-left: 10px;
	display: block;
	color: #fff;
	width:106px;
	height:30px;
	line-height: 29px;
	font-size: 17px;
	margin-top: 1px;
	background-color: #ccc;
	border:0px;
	cursor: pointer;
	/*color:transparent;*/
	/*background: url('/image/qiyun/research/publishArticle/3.png') no-repeat;*/
}